.fullHeightMap{
    height: 86.8vh;
    width: 100vw;
    box-sizing: content-box;
    z-index: 8000;
  }
  
  .customSearchControl {
    margin-top: 50px; 
    margin-left: 10px; 
  }

  #buttonLocation {
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 1000;
    width: 40px;
    height: 40px;
    background: url(../../assets/locationIcon.svg) no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
  }

  .leaflet-control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

#buttonIncidentLocate {
  color: white;
  background-color:  #013068 ;
  border: none;
  border-radius: 10px;
  padding: 7px;
  margin-bottom: 5px;
}

#buttonIncidentSearch {
  color: white;
  background-color:  #013068 ;
  border: none;
  border-radius: 10px;
  padding: 7px;
  margin-left: 50px;
  margin-top: 5px;
}
  .popup-content strong {
    line-height: 4;
  }
