.fullHeightMap{
    height: 90vh;
    width: 100vw;
    box-sizing: content-box;
  }
  
  .customSearchControl {
    margin-top: 50px; 
    margin-left: 10px; 
  }

  #buttonLocation {
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 1000;
    width: 40px;
    height: 40px;
    background: url(../../assets/locationIcon.svg) no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
  }


#buttonIncidentLocate {
  color: white;
  background-color:  #013068 ;
  border: none;
  border-radius: 10px;
  padding: 7px;
  margin-bottom: 5px;
}

#buttonIncidentSearch {
  color: white;
  background-color:  #013068 ;
  border: none;
  border-radius: 10px;
  padding: 7px;
  margin-left: 50px;
  margin-top: 5px;
}